# Copyright (c) 2013-2018, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#
on boot
# SSWAP
    write /proc/sys/vm/swappiness 160

# OLAF setup cgroup freezer
    mkdir /dev/freezer
    mount cgroup none /dev/freezer freezer
    mkdir /dev/freezer/olaf
    write /dev/freezer/olaf/freezer.state THAWED
    mkdir /dev/cpuset/olaf
    copy /dev/cpuset/cpus /dev/cpuset/olaf/cpus
    copy /dev/cpuset/mems /dev/cpuset/olaf/mems
    chown system system /dev/freezer/olaf
    chown system system /dev/freezer/olaf/tasks
    chown system system /dev/freezer/olaf/cgroup.procs
    chown system system /dev/freezer/olaf/freezer.state
    chown system system /dev/cpuset/olaf
    chown system system /dev/cpuset/olaf/tasks
    chown system system /dev/cpuset/olaf/cpus
    chmod 0644 /dev/freezer/olaf/tasks
    chmod 0644 /dev/freezer/olaf/cgroup.procs
    chmod 0644 /dev/freezer/olaf/freezer.state
    chmod 0664 /dev/cpuset/olaf
    chmod 0664 /dev/cpuset/olaf/tasks
    chmod 0664 /dev/cpuset/olaf/cpus

on fs
    wait /dev/block/bootdevice/by-name/efs
    mount ext4 /dev/block/bootdevice/by-name/efs /mnt/vendor/efs nosuid nodev noatime noauto_da_alloc,discard,journal_checksum,data=ordered,errors=panic
    restorecon -R /mnt/vendor/efs

    wait /dev/block/bootdevice/by-name/sec_efs
    mount ext4 /dev/block/bootdevice/by-name/sec_efs /efs nosuid nodev noatime noauto_da_alloc,discard,journal_checksum,data=ordered,errors=panic
    restorecon -R /efs

# faced
service faced /system/bin/faced
    class late_start
    user system
    group system

on post-fs-data
# create data/gps for GPS
    mkdir /data/vendor 0771 system system
    chown system system /data/vendor
    mkdir /data/vendor/gps 0771 system system
    chown system system /data/vendor/gps

    chown system radio /efs
    chmod 0771 /efs

# SSWAP
service swapon /sbin/sswap -s -z -f 2048
    class core
    user root
    group root
    seclabel u:r:sswap:s0
    oneshot