# Copyright (c) 2016, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on early-init
    write /proc/sys/kernel/sched_boost 1

on init
    chown root system /dev/cpuset/top-app/cpus
    chown root system /dev/cpuset/foreground/cpus
    chown root system /dev/cpuset/background/cpus
    chown root system /dev/cpuset/system-background/cpus
    chown root system /dev/cpuset/camera-daemon/cpus
    chown root system /dev/cpuset/audio-app/cpus
    chown root system /dev/cpuset/cpus
    chmod 0664 /dev/cpuset/top-app/cpus
    chmod 0664 /dev/cpuset/foreground/cpus
    chmod 0664 /dev/cpuset/background/cpus
    chmod 0664 /dev/cpuset/system-background/cpus
    chmod 0664 /dev/cpuset/camera-daemon/cpus
    chmod 0664 /dev/cpuset/audio-app/cpus
    chmod 0664 /dev/cpuset/cpus

    # Top-app
    chown root system /dev/stune/top-app/schedtune.boost
    chown root system /dev/stune/top-app/schedtune.colocate
    chown root system /dev/stune/top-app/schedtune.prefer_idle
    chown root system /dev/stune/top-app/schedtune.sched_boost_enabled
    chown root system /dev/stune/top-app/schedtune.sched_boost_no_override
    chmod 0664 /dev/stune/top-app/schedtune.boost
    chmod 0664 /dev/stune/top-app/schedtune.colocate
    chmod 0664 /dev/stune/top-app/schedtune.prefer_idle
    chmod 0664 /dev/stune/top-app/schedtune.sched_boost_enabled
    chmod 0664 /dev/stune/top-app/schedtune.sched_boost_no_override

    # Foreground
    chown root system /dev/stune/foreground/schedtune.boost
    chown root system /dev/stune/foreground/schedtune.colocate
    chown root system /dev/stune/foreground/schedtune.prefer_idle
    chown root system /dev/stune/foreground/schedtune.sched_boost_enabled
    chown root system /dev/stune/foreground/schedtune.sched_boost_no_override
    chmod 0664 /dev/stune/foreground/schedtune.boost
    chmod 0664 /dev/stune/foreground/schedtune.colocate
    chmod 0664 /dev/stune/foreground/schedtune.prefer_idle
    chmod 0664 /dev/stune/foreground/schedtune.sched_boost_enabled
    chmod 0664 /dev/stune/foreground/schedtune.sched_boost_no_override

    # Background
    chown root system /dev/stune/background/schedtune.boost
    chown root system /dev/stune/background/schedtune.colocate
    chown root system /dev/stune/background/schedtune.prefer_idle
    chown root system /dev/stune/background/schedtune.sched_boost_enabled
    chown root system /dev/stune/background/schedtune.sched_boost_no_override
    chmod 0664 /dev/stune/background/schedtune.boost
    chmod 0664 /dev/stune/background/schedtune.colocate
    chmod 0664 /dev/stune/background/schedtune.prefer_idle
    chmod 0664 /dev/stune/background/schedtune.sched_boost_enabled
    chmod 0664 /dev/stune/background/schedtune.sched_boost_no_override

    write /dev/stune/foreground/schedtune.sched_boost_no_override 1
    write /dev/stune/top-app/schedtune.sched_boost_no_override 1
    write /dev/stune/schedtune.colocate 0
    write /dev/stune/background/schedtune.colocate 0
    write /dev/stune/system-background/schedtune.colocate 0
    write /dev/stune/foreground/schedtune.colocate 0
    write /dev/stune/top-app/schedtune.colocate 1
    write /sys/module/qpnp_rtc/parameters/poweron_alarm 1

    # Add a cpuset for the camera daemon
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-7
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks

on boot
    # For cpusets initialize for Silver only first and then Silver + Gold
    # Silver only configuration cannot work with 0-7
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-7
    write /dev/cpuset/background/cpus 0-7
    write /dev/cpuset/system-background/cpus 0-7

on charger
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    wait /dev/block/bootdevice/by-name/efs
    mount ext4 /dev/block/bootdevice/by-name/efs /efs nosuid nodev noatime noauto_da_alloc,discard,data=ordered,errors=panic
    mkdir /efs/Battery 0775 radio system
    chown radio system /efs/Battery
    chmod 0775 /efs/Battery
    chmod 0664 /sys/class/power_supply/battery/batt_temp_table
    chown system radio /sys/class/power_supply/battery/batt_temp_table
    chmod 0664 /sys/class/power_supply/battery/batt_capacity_max
    chown system radio /sys/class/power_supply/battery/batt_capacity_max
    chmod 0664 /sys/class/power_supply/battery/battery_cycle
    chown system radio /sys/class/power_supply/battery/battery_cycle
    chown system radio /sys/class/power_supply/battery/cisd_fullcaprep_max
    chmod 0660 /sys/class/power_supply/battery/cisd_fullcaprep_max
    chown system radio /sys/class/power_supply/battery/cisd_data
    chmod 0660 /sys/class/power_supply/battery/cisd_data
    chown system system /efs/FactoryApp/cisd_data
    chmod 0660 /efs/FactoryApp/cisd_data
    chown system system /efs/FactoryApp/cisd_wc_data
    chmod 0660 /efs/FactoryApp/cisd_wc_data
    chown system system /efs/FactoryApp/asoc
    chmod 0660 /efs/FactoryApp/asoc
    chown system system /efs/FactoryApp/batt_after_manufactured
    chmod 0640 /efs/FactoryApp/batt_after_manufactured
    chown system system /efs/FactoryApp/batt_discharge_level
    chmod 0640 /efs/FactoryApp/batt_discharge_level
    chown system radio /sys/class/power_supply/battery/cisd_data_json
    chmod 0660 /sys/class/power_supply/battery/cisd_data_json
    copy /system/vendor/firmware/battery_data.dat /efs/Battery/battery_data.dat
    chmod 0400 /efs/Battery/battery_data.dat
    write /sys/class/power_supply/battery/batt_update_data "/efs/Battery/battery_data.dat"
    chown radio system /efs
    chmod 0771 /efs
    chown radio system /efs/usb_hw_param
    chmod 771 /efs/usb_hw_param
    chown system system /efs/usb_hw_param/usb_hw_param.log
    chmod 0660 /efs/usb_hw_param/usb_hw_param.log
    mkdir /efs/lpm 0775 system system
    class_start sec-charger

    trigger enable-low-power

    setprop sys.usb.configfs 1

on enable-low-power
    # Set the default IRQ affinity to the silver cluster. When a
    # CPU is isolated/hotplugged, the IRQ affinity is adjusted
    # to one of the CPU from the default IRQ affinity mask.
    write /proc/irq/default_smp_affinity "3f"

    # Core control parameters on silver
    write /sys/devices/system/cpu/cpu0/core_ctl/not_preferred "0 0 0 0 1 1"
    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 4
    write /sys/devices/system/cpu/cpu0/core_ctl/busy_up_thres 60
    write /sys/devices/system/cpu/cpu0/core_ctl/busy_down_thres 40
    write /sys/devices/system/cpu/cpu0/core_ctl/offline_delay_ms 100
    write /sys/devices/system/cpu/cpu0/core_ctl/is_big_cluster 0
    write /sys/devices/system/cpu/cpu0/core_ctl/task_thres 8

    # Setting b.L scheduler parameters
    write /proc/sys/kernel/sched_upmigrate 96
    write /proc/sys/kernel/sched_downmigrate 90
    write /proc/sys/kernel/sched_group_upmigrate 140
    write /proc/sys/kernel/sched_group_downmigrate 120
    write /proc/sys/kernel/sched_walt_rotate_big_tasks 1

    # Configure governor settings for little cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/rate_limit_us 0
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_freq 1209600
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 576000

    # Configure governor settings for big cluster
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/rate_limit_us 0
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/hispeed_freq 1344000
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq 652800

    # Setting sched_load_boost as -6 is equivalent to target load as 85. It is per CPU tunable.
    write /sys/devices/system/cpu/cpu6/sched_load_boost -6
    write /sys/devices/system/cpu/cpu7/sched_load_boost -6
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/hispeed_load 85

    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1209600"
    write /sys/module/cpu_boost/parameters/input_boost_ms 40

    # Change DDR, L3, LLC node permission
    chown root system /sys/class/devfreq/soc:qcom,l3-cpu0/available_frequencies
    chown root system /sys/class/devfreq/soc:qcom,l3-cpu0/min_freq
    chown root system /sys/class/devfreq/soc:qcom,l3-cpu0/max_freq
    chown root system /sys/class/devfreq/soc:qcom,l3-cpu6/available_frequencies
    chown root system /sys/class/devfreq/soc:qcom,l3-cpu6/min_freq
    chown root system /sys/class/devfreq/soc:qcom,l3-cpu6/max_freq
    chown root system /sys/class/devfreq/soc:qcom,memlat-cpu0/available_frequencies
    chown root system /sys/class/devfreq/soc:qcom,memlat-cpu0/min_freq
    chown root system /sys/class/devfreq/soc:qcom,memlat-cpu0/max_freq
    chown root system /sys/class/devfreq/soc:qcom,memlat-cpu6/available_frequencies
    chown root system /sys/class/devfreq/soc:qcom,memlat-cpu6/min_freq
    chown root system /sys/class/devfreq/soc:qcom,memlat-cpu6/max_freq
    chown root system /sys/class/devfreq/soc:qcom,llccbw/available_frequencies
    chown root system /sys/class/devfreq/soc:qcom,llccbw/min_freq
    chown root system /sys/class/devfreq/soc:qcom,llccbw/max_freq
    chown root system /sys/class/devfreq/soc:qcom,mincpubw/available_frequencies
    chown root system /sys/class/devfreq/soc:qcom,mincpubw/min_freq
    chown root system /sys/class/devfreq/soc:qcom,mincpubw/max_freq
    chmod 664 /sys/class/devfreq/soc:qcom,l3-cpu0/min_freq
    chmod 664 /sys/class/devfreq/soc:qcom,l3-cpu0/max_freq
    chmod 664 /sys/class/devfreq/soc:qcom,l3-cpu6/min_freq
    chmod 664 /sys/class/devfreq/soc:qcom,l3-cpu6/max_freq
    chmod 664 /sys/class/devfreq/soc:qcom,memlat-cpu0/min_freq
    chmod 664 /sys/class/devfreq/soc:qcom,memlat-cpu0/max_freq
    chmod 664 /sys/class/devfreq/soc:qcom,memlat-cpu6/min_freq
    chmod 664 /sys/class/devfreq/soc:qcom,memlat-cpu6/max_freq
    chmod 664 /sys/class/devfreq/soc:qcom,llccbw/min_freq
    chmod 664 /sys/class/devfreq/soc:qcom,llccbw/max_freq
    chmod 664 /sys/class/devfreq/soc:qcom,mincpubw/min_freq
    chmod 664 /sys/class/devfreq/soc:qcom,mincpubw/max_freq

    # Change schedutil governor node permission
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_load
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/schedutil/pl
    chown root system /sys/devices/system/cpu/cpu6/cpufreq/schedutil/hispeed_freq
    chown root system /sys/devices/system/cpu/cpu6/cpufreq/schedutil/hispeed_load
    chown root system /sys/devices/system/cpu/cpu6/cpufreq/schedutil/pl
    chmod 664 /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_freq
    chmod 664 /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_load
    chmod 664 /sys/devices/system/cpu/cpu0/cpufreq/schedutil/pl
    chmod 664 /sys/devices/system/cpu/cpu6/cpufreq/schedutil/hispeed_freq
    chmod 664 /sys/devices/system/cpu/cpu6/cpufreq/schedutil/hispeed_load
    chmod 664 /sys/devices/system/cpu/cpu6/cpufreq/schedutil/pl

    # Enable bus-dcvs
    write /sys/class/devfreq/soc:qcom,cpubw/governor "bw_hwmon"
    write /sys/class/devfreq/soc:qcom,cpubw/polling_interval 50
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/mbps_zones "1144 1720 2086 2929 3879 5931 6881"
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/sample_ms 4
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/io_percent 68
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hist_memory 20
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hyst_length 0
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/down_thres 80
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/guard_band_mbps 0
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/up_scale 250
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/idle_mbps 1600

    # Enable mem_latency governor for DDR scaling
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/polling_interval 10
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/mem_latency/ratio_ceil 400

    write /sys/class/devfreq/soc:qcom,memlat-cpu6/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,memlat-cpu6/polling_interval 10
    write /sys/class/devfreq/soc:qcom,memlat-cpu6/mem_latency/ratio_ceil 400

    # Enable mem_latency governor for L3 scaling
    write /sys/class/devfreq/soc:qcom,l3-cpu0/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,l3-cpu0/polling_interval 10
    write /sys/class/devfreq/soc:qcom,l3-cpu0/mem_latency/ratio_ceil 400

    write /sys/class/devfreq/soc:qcom,l3-cpu6/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,l3-cpu6/polling_interval 10
    write /sys/class/devfreq/soc:qcom,l3-cpu6/mem_latency/ratio_ceil 400

    # Enable userspace governor for L3 cdsp nodes
    write /sys/class/devfreq/soc:qcom,l3-cdsp/governor "userspace"
    chown system /sys/class/devfreq/soc:qcom,l3-cdsp/userspace/set_freq

    write /sys/class/devfreq/soc:qcom,mincpubw/governor "cpufreq"

    # Disable CPU retention
    write /sys/module/lpm_levels/L3/cpu0/ret/idle_enabled "N"
    write /sys/module/lpm_levels/L3/cpu1/ret/idle_enabled "N"
    write /sys/module/lpm_levels/L3/cpu2/ret/idle_enabled "N"
    write /sys/module/lpm_levels/L3/cpu3/ret/idle_enabled "N"
    write /sys/module/lpm_levels/L3/cpu4/ret/idle_enabled "N"
    write /sys/module/lpm_levels/L3/cpu5/ret/idle_enabled "N"
    write /sys/module/lpm_levels/L3/cpu6/ret/idle_enabled "N"
    write /sys/module/lpm_levels/L3/cpu7/ret/idle_enabled "N"

    # Set cpuset parameters
    write /dev/cpuset/background/cpus 0-5
    write /dev/cpuset/system-background/cpus 0-5

    # Turn off scheduler boost at the end
    write /proc/sys/kernel/sched_boost 0

    # Turn on sleep modes
    write /sys/module/lpm_levels/parameters/sleep_disabled 0

    # Post-setup services
    setprop vendor.post_boot.parsed 1

on property:sys.boot_completed=1
    trigger enable-low-power

on property:init.svc.recovery=running
    trigger enable-low-power

service charger /system/bin/lpm
    class sec-charger
    user system
    group system radio graphics input
    capabilities SYS_BOOT
    seclabel u:r:charger:s0

service vendor.power_off_alarm /vendor/bin/power_off_alarm
    class core
    group system
    disabled
    oneshot
