# Copyright (C) 2018 The Android Open Source Project
#
# Display configuration common for all android devices
#


on init
# Permissions for Display
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chmod 0660 /sys/class/backlight/panel0-backlight/brightness

# HMT
    chown system system /sys/class/lcd/panel/hmt_on
    chmod 0660 /sys/class/lcd/panel/hmt_on
    chown system system /sys/class/lcd/panel/hmt_bright
    chmod 0660 /sys/class/lcd/panel/hmt_bright
    chown system system /sys/class/mdnie/mdnie/hmt_color_temperature
    chmod 0660 /sys/class/mdnie/mdnie/hmt_color_temperature

# LCD mdnie and panel work
    chown system system  /sys/class/mdnie/mdnie/lcdtype
    chown system system  /sys/class/mdnie/mdnie/lcd_power
    chown system media_rw /sys/class/mdnie/mdnie/scenario
    chmod 0660 /sys/class/mdnie/mdnie/scenario

    chown system system /sys/class/mdnie/mdnie/tuning
    chown system media_rw /sys/class/mdnie/mdnie/outdoor
    chown system system  /sys/class/mdnie/mdnie/mdnie_temp
    chown system media_rw /sys/class/mdnie/mdnie/mode
    chown system system /sys/class/mdnie/mdnie/negative
    chown system media_rw /sys/class/mdnie/mdnie/playspeed
    chown system media_rw /sys/class/mdnie/mdnie/accessibility
    chown system system  /sys/class/mdnie/mdnie/cabc
    chown system system  /sys/class/mdnie/mdnie/bypass
    chown system system /sys/class/mdnie/mdnie/sensorRGB
    chmod 0660 /sys/class/mdnie/mdnie/sensorRGB
    chown system system /sys/class/mdnie/mdnie/mdnie_ldu
    chmod 0660 /sys/class/mdnie/mdnie/mdnie_ldu
    chown system system /sys/class/mdnie/mdnie/night_mode
    chmod 0660 /sys/class/mdnie/mdnie/night_mode
    chown system system /sys/class/mdnie/mdnie/color_lens
    chmod 0660 /sys/class/mdnie/mdnie/color_lens
    chown system system /sys/class/mdnie/mdnie/hdr
    chmod 0660 /sys/class/mdnie/mdnie/hdr
    chown system media_rw /sys/class/mdnie/mdnie/whiteRGB
    chmod 0660 /sys/class/mdnie/mdnie/whiteRGB
    chown system system /sys/class/mdnie/mdnie/light_notification
    chmod 0660 /sys/class/mdnie/mdnie/light_notification
    chown system system /sys/class/mdnie/mdnie/afc
    chmod 0660 /sys/class/mdnie/mdnie/afc

    mkdir /efs/afc 0700 system system
    chmod 700 /efs/afc

    # reading mode
    chown system media_rw /sys/class/lcd/panel/reading_mode
    chmod 0660 /sys/class/lcd/panel/reading_mode

    # adaptive control
    chown system system /sys/class/lcd/panel/adaptive_control
    chmod 0660 /sys/class/lcd/panel/adaptive_control

    # CCB (color waekness)
    chown system system  /sys/class/backlight/panel/weakness_ccb
    chmod 0660 /sys/class/backlight/panel/weakness_ccb

    # weakness_hbm_comp (Gallery Max brightness == 2)
    chown system system  /sys/class/backlight/panel/weakness_hbm_comp
    chmod 0660 /sys/class/backlight/panel/weakness_hbm_comp

    # AOD(Always On Display)
    chown system system /sys/class/lcd/panel/alpm
    chmod 0660 /sys/class/lcd/panel/alpm

    # Active Clock in AOD
    chown system system /dev/act_clk
    chmod 0660 /dev/act_clk

    # Self Display in AOD
    chown system system /dev/self_display
    chmod 0660 /dev/self_display

    # Self Move in IDLE
    chown system system /sys/class/lcd/panel/self_move
    chmod 0660 /sys/class/lcd/panel/self_move

    # POC
    mkdir /efs/etc/poc 0700 system system
    chmod 700 /efs/etc/poc
    mkdir /cache/poc 0700 system system
    chmod 700 /cache/poc

    chown system system /dev/poc
    chmod 0660 /dev/poc

    chown system system /sys/class/lcd/panel/poc
    chmod 0660 /sys/class/lcd/panel/poc

    # POC_MCA
    chown system system /sys/class/lcd/panel/poc_mca
    chmod 0440 /sys/class/lcd/panel/poc_mca

    # HMT
    chown system system /sys/class/lcd/panel/hmt_on
    chmod 0660 /sys/class/lcd/panel/hmt_on
    chown system system /sys/class/lcd/panel/hmt_bright
    chmod 0660 /sys/class/lcd/panel/hmt_bright
    chown system system /sys/class/mdnie/mdnie/hmt_color_temperature
    chmod 0660 /sys/class/mdnie/mdnie/hmt_color_temperature

    setprop sys.daydream.connected 0

    # chown system system /sys/class/graphics/fb0/msm_cmd_autorefresh_en
    # chmod 0660 /sys/class/graphics/fb0/msm_cmd_autorefresh_en

    # IRC
    chown system system /sys/class/lcd/panel/irc_mode
    chmod 0660 /sys/class/lcd/panel/irc_mode
    # MCD_MODE
    chown system system /sys/class/lcd/panel/mcd_mode
    chmod 0660 /sys/class/lcd/panel/mcd_mode

    # MCD_RESISTANCE
    chown system system /sys/class/lcd/panel/mcd_resistance
    chmod 0660 /sys/class/lcd/panel/mcd_resistance

    # GAMMA_FLASH
    chown system system /sys/class/lcd/panel/gamma_flash
    chmod 0660 /sys/class/lcd/panel/gamma_flash

    # X-Talk
    chown system system /sys/class/lcd/panel/xtalk_mode
    chmod 0660 /sys/class/lcd/panel/xtalk_mode
    # MST
    chown system system /sys/class/lcd/panel/mst
    chmod 0660 /sys/class/lcd/panel/mst
    # DDI H/W Cursor
    chown system system /sys/class/lcd/panel/hw_cursor
    chmod 0660 /sys/class/lcd/panel/hw_cursor
    # Gram Checksum Test
    chown system system /sys/class/lcd/panel/gct
    chmod 0660 /sys/class/lcd/panel/gct
    # Gray Spot Test
    chown system system /sys/class/lcd/panel/grayspot
    chmod 0660 /sys/class/lcd/panel/grayspot
    # POC OFF
    chown system system /sys/class/lcd/panel/poc_onoff
    chmod 0660 /sys/class/lcd/panel/poc_onoff
    # IRC OFF
    chown system system /sys/class/lcd/panel/irc_onoff
    chmod 0660 /sys/class/lcd/panel/irc_onoff
    # ISC Defect Test
    chown system system /sys/class/lcd/panel/isc_defect
    chmod 0660 /sys/class/lcd/panel/isc_defect

    # LCD mdnie and panel work
    chown system system  /sys/class/mdnie/mdnie/lcdtype
    chown system system  /sys/class/mdnie/mdnie/lcd_power
    chown system media_rw /sys/class/mdnie/mdnie/scenario
    chmod 0660 /sys/class/mdnie/mdnie/scenario

    chown system system /sys/class/mdnie/mdnie/tuning
    chown system media_rw /sys/class/mdnie/mdnie/outdoor
    chown system system  /sys/class/mdnie/mdnie/mdnie_temp
    chown system media_rw /sys/class/mdnie/mdnie/mode
    chown system system /sys/class/mdnie/mdnie/negative
    chown system media_rw /sys/class/mdnie/mdnie/playspeed
    chown system media_rw /sys/class/mdnie/mdnie/accessibility
    chown system system  /sys/class/mdnie/mdnie/cabc
    chown system system  /sys/class/mdnie/mdnie/bypass
    chmod 0660 /sys/class/mdnie/mdnie/bypass
    chown system media_rw /sys/class/mdnie/mdnie/sensorRGB
    chmod 0660 /sys/class/mdnie/mdnie/sensorRGB
    chown system media_rw /sys/class/mdnie/mdnie/mdnie_ldu
    chmod 0660 /sys/class/mdnie/mdnie/mdnie_ldu
    chown system media_rw /sys/class/mdnie/mdnie/night_mode
    chmod 0660 /sys/class/mdnie/mdnie/night_mode
    chown system media_rw /sys/class/mdnie/mdnie/hdr
    chmod 0660 /sys/class/mdnie/mdnie/hdr
    chown system media_rw /sys/class/mdnie/mdnie/whiteRGB
    chmod 0660 /sys/class/mdnie/mdnie/whiteRGB
    chown system system /sys/class/mdnie/mdnie/light_notification
    chmod 0660 /sys/class/mdnie/mdnie/light_notification

    mkdir /efs/etc 0700 system system
    chmod 700 /efs/etc
    mkdir /efs/etc/poc 0700 system system
    chmod 700 /efs/etc/poc
    mkdir /cache/poc 0700 system system
    chmod 700 /cache/poc

    chown system system /sys/class/lcd/panel/window_type
    chown radio system /sys/class/lcd/panel/power_reduce
    chown radio system /sys/class/lcd/panel/siop_enable
    chown radio system /sys/class/lcd/panel/temperature
    chown radio system /sys/class/lcd/panel/tuning
    chown radio system /sys/class/lcd/panel/lux

    chown radio system /sys/class/lcd/panel/partial_disp
    chmod 0660 /sys/class/lcd/panel/partial_disp

    chown radio system /sys/class/lcd/panel/cover_control
    chmod 0660 /sys/class/lcd/panel/cover_control

    chown system system /sys/class/lcd/panel/ldu_correction
    chmod 0660 /sys/class/lcd/panel/ldu_correction

    chown system system /sys/class/lcd/panel/dpui
    chown system system /sys/class/lcd/panel/dpui_dbg

    chown system system /sys/class/lcd/panel/dpci
    chown system system /sys/class/lcd/panel/dpci_dbg

    chown radio system /sys/class/lcd/panel/force_flip

    # COPR
    chown system system /sys/class/lcd/panel/copr_roi
    chmod 0660 /sys/class/lcd/panel/copr_roi
    chown system system /sys/class/lcd/panel/read_copr
    chmod 0660 /sys/class/lcd/panel/read_copr
    chown system system /sys/class/lcd/panel/copr
    chmod 0660 /sys/class/lcd/panel/copr
    chown system system /sys/class/lcd/panel/brt_avg
    chmod 0660 /sys/class/lcd/panel/brt_avg

    # SELF MASK
    chown system system /sys/class/lcd/panel/self_mask
    chmod 0660 /sys/class/lcd/panel/self_mask

    # LCD DYNAMIC FPS USE TE
    chown system system /sys/class/lcd/panel/dynamic_fps_use_te
    chmod 0660 /sys/class/lcd/panel/dynamic_fps_use_te

    # HMT relay mode
    chown radio system /sys/devices/virtual/relay_on
    chown radio system /sys/devices/virtual/data_on